html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


:root { 
	--accent1: #C50003;
	--accent2: #D48082;
}

.button{
	transition-duration: 0.4s;
}

.printButton {
  background-color: white; 
  color: var(--accent1); 
  text-decoration:underline;
  text-decoration-skip: ink;
  border: 0px;
}

.printButton:hover {
  color: var(--accent2);
}

@media print {
  #printPageButton, #cvbar, #cvlinks {
    display: none;
  }
}


@font-face {
  font-family: headfont;
  src: url("fonts/Merriweather-Regular.ttf");
}

@font-face {
  font-family: bodyfont;
  src: url("fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: bodyfont;
  src: url("fonts/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/* Main body boundar*/
div.mainbody{
	width: 600px;
	margin: auto;
}

/* Title of the site*/
div.nametitle {
	margin-top: 40pt;
	text-align: center;
	font-family: headfont, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 20pt;	
}

div.nametitle>hr {
	width: 30%;
	border: 1px solid var(--accent1);
}

div.research-project>h3.rtitle{
	padding-top: 20px;
	font-family: bodyfont;
	font-weight: 100;
	font-size: 14pt;
	text-decoration: underline;
	text-decoration-skip: ink;
	color: black;
	margin-bottom: 2px;
	clear:both;
}

div.research-project>font.projpub{
	font-family: bodyfont;
	font-size: 10pt;
	color: black;
}

h4.coursetitle{
	font-weight:bold;
	margin-top:6px;
	margin-bottom:6px;
}

p.courselogs{
	margin-top:0px;
	font-size:10pt;
}

font.tinyfont {
	font-family: bodyfont;
	font-size: 10pt;
	color: black;
}

/* Proj desc */
div.research-project>div.projdescbox{
	margin-top:10px;
}
div.research-project>div.projdescbox>img.projimg{
	height: 150px;
	width: 150px;
	float: left;
	object-fit: contain;
	padding-right: 40px;

}
div.research-project>div.projdescbox>p.projdesc{
	margin-top: 0px;
	font-family: bodyfont;
	font-weight: 100;
	font-size: 11pt;
	padding-left: 0px;
	float:inherit;
	text-align: justify;
}

/* icons */
font.icon {
	font-size: 12px; 
	font-family: headfont; 
	font-weight: bold; 
	margin-right: 10px; 
	border: 1px solid black; 
	padding-left: 2px; 
	padding-right: 2px;
}

/* section-head */
p.section-head{
	padding-top: 10px;
	font-family: bodyfont;
	font-size: 14pt;
	color: black;
}

/* About page */
div.about {
	margin-top: 20pt;
	text-align: justify;
	font-family: bodyfont, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 12pt;
}


/* Links */
a:link {
	text-decoration: none;
	color:var(--accent1);
}

a:hover {
	color:var(--accent2);
}

a:visited {
	color:var(--accent1);
}

/* Top menubar */
div.menubar{
	margin-top: 20pt;
	text-align: center;
	font-family: bodyfont, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 13pt;
}

div.bar{
	margin: auto;
	margin-top: 10px;
	height:1px;
	width:50%;
	background-color: var(--accent1);
}

/* Bottom */
div.bottombar{
	padding-top: 50pt;
	padding-bottom: 30pt;
	font-family: bodyfont, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 11pt;
	clear: both;
	
}

div.half{
	width:50%;
	float:left;
}

@media only screen and (max-width: 700px) {
  div.mainbody {
    width: 80%;
  }
}

a.tooltip {
    position: relative; 
}

a.tooltip:hover span {
    opacity: 0.8; 
    visibility: visible;
}

a.tooltip span {
    padding: 10px;
    top: 20px;     
    min-width: 200px;
    max-width: 200px;
    background-color: #000000; 
    color: #FFFFFF;
    height: auto;
    border-radius: 5px; 
    opacity: 0; 
    position:absolute;
    visibility: hidden;
    word-wrap: break-word;
	font-size: 10pt;
    -webkit-transition: all 0.5s; 
       -moz-transition: all 0.5s; 
        -ms-transition: all 0.5s; 
         -o-transition: all 0.5s; 
            transition: all 0.5s;    
}

div.about>h3.cvtitle{
	padding-top: 5px;
	font-family: bodyfont;
	font-weight: 100;
	font-size: 14pt;
	text-decoration: underline;
	text-decoration-skip: ink;
	color: black;
	margin-bottom: 2px;
	clear:both;
}

th.rowtitle, td.rowtitle {
  padding-right: 20px;
	
}
th.rowdesc, td.rowdesc {
  padding-left: 20px;
	
}
table td, table td * {
    vertical-align: top;
	padding-bottom: 10px;
}
li.cvli {
	font-size: 12pt;
	padding-bottom: 10px;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
	color: var(--accent1);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
	color:var(--accent2);
  }
  
  .content {
	padding: 0 5px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }



